# Assignment

## Brief

Write the Python codes for the following questions.

## Instructions

Paste the answer as Python in the answer code section below each question.

### Question 1

Question: Calculate the correlation between 'MSFT' and 'IBM' returns from a DataFrame of stock returns.

In [1]:
import pandas as pd

# Assuming 'returns' is a DataFrame containing stock returns
returns = pd.DataFrame({
    'MSFT': [0.05, 0.07, -0.01],
    'IBM': [0.04, 0.02, 0.03]
})

Answer:

In [6]:
returns.corr()

          MSFT       IBM
MSFT  1.000000 -0.240192
IBM  -0.240192  1.000000

### Question 2

Question: Convert the columns `B` and `C` from wide to long format.

In [3]:
import pandas as pd

df = pd.DataFrame({
'A': {0: 'a', 1: 'b', 2: 'c'},
'B': {0: 1, 1: 3, 2: 5},
'C': {0: 2, 1: 4, 2: 6}
})

Answer:

In [7]:
df

   A  B  C
0  a  1  2
1  b  3  4
2  c  5  6

In [12]:
df_long = pd.melt(df, id_vars=['A'], value_vars=['B', 'C'])

df_long

   A variable  value
0  a        B      1
1  b        B      3
2  c        B      5
3  a        C      2
4  b        C      4
5  c        C      6

### Question 3

Question: Slice the Series to return data from 5th to 15th January.

In [13]:
import pandas as pd
import numpy as np

np.random.seed(0)
dates = pd.date_range("2023-01-01", "2023-01-31")
data = pd.Series(np.random.rand(len(dates)), index=dates)

Answer:

In [15]:
data

2023-01-01    0.548814
2023-01-02    0.715189
2023-01-03    0.602763
2023-01-04    0.544883
2023-01-05    0.423655
2023-01-06    0.645894
2023-01-07    0.437587
2023-01-08    0.891773
2023-01-09    0.963663
2023-01-10    0.383442
2023-01-11    0.791725
2023-01-12    0.528895
2023-01-13    0.568045
2023-01-14    0.925597
2023-01-15    0.071036
2023-01-16    0.087129
2023-01-17    0.020218
2023-01-18    0.832620
2023-01-19    0.778157
2023-01-20    0.870012
2023-01-21    0.978618
2023-01-22    0.799159
2023-01-23    0.461479
2023-01-24    0.780529
2023-01-25    0.118274
2023-01-26    0.639921
2023-01-27    0.143353
2023-01-28    0.944669
2023-01-29    0.521848
2023-01-30    0.414662
2023-01-31    0.264556
Freq: D, dtype: float64

In [14]:
data["2023-01-05":"2023-01-15"]

2023-01-05    0.423655
2023-01-06    0.645894
2023-01-07    0.437587
2023-01-08    0.891773
2023-01-09    0.963663
2023-01-10    0.383442
2023-01-11    0.791725
2023-01-12    0.528895
2023-01-13    0.568045
2023-01-14    0.925597
2023-01-15    0.071036
Freq: D, dtype: float64

## Submission

- Submit the URL of the GitHub Repository that contains your work to NTU black board.
- Should you reference the work of your classmate(s) or online resources, give them credit by adding either the name of your classmate or URL.